doctype html
html
	head
		script.
			function ChatbroLoader(chats,async) {
				async=!1!==async;

				var params= {
					embedChatsParameters:chats instanceof Array?chats:[chats],
					lang:navigator.language||navigator.userLanguage,
					needLoadCode:'undefined'==typeof Chatbro,
					embedParamsVersion:localStorage.embedParamsVersion,
					chatbroScriptVersion:localStorage.chatbroScriptVersion
				},

				xhr=new XMLHttpRequest;
				xhr.withCredentials=!0,
				xhr.onload=function() {
					eval(xhr.responseText)
				},

				xhr.onerror=function() {
					console.error('Chatbro loading error')
				},

				xhr.open('GET','//www.chatbro.com/embed.js?' +
					btoa(unescape(encodeURIComponent(JSON.stringify(params)))),async),
					xhr.send()
			}
			ChatbroLoader([{encodedChatId: '9czk',
					siteDomain: '#{domain}',
					signature: '#{hash}',
					chatLanguage: '#{gettext("en")}',
					isStatic: true,
					containerDivId: 'chatbro',
					chatHeight: '370px',
					chatWidth: '100%',
					chatState: 'maximized'},
				{encodedChatId: '9czk',
					siteDomain: '#{domain}',
					signature: '#{hash}',
					chatLanguage: '#{gettext("en")}',
					isStatic: false,
					chatHeight: '250px',
					chatWidth: '370px',
					chatState: 'minimized'}]);
					
		meta(name='viewport' content='width=device-width, initial-scale=0.8')
				
		link(rel='shortcut icon' href='/images/favicon_small.png' type='image/png')
			
		link(rel='stylesheet' type='text/css' href='./styles/body/body.css')
			
		link(rel='stylesheet' type='text/css' href='./styles/text/text.css')
			
		link(rel='stylesheet' type='text/css' href='./styles/header-bar/header-bar.css')
		link(rel='stylesheet' type='text/css' href='./styles/header-bar/__logo/header-bar__logo.css')
		link(rel='stylesheet' type='text/css' href='./styles/header-bar/__link-list/header-bar__link-list.css')
			
		link(rel='stylesheet' type='text/css' href='./styles/block/block.css')
		link(rel='stylesheet' type='text/css' href='./styles/form/form.css')
		link(rel='stylesheet' type='text/css' href='./styles/registration-form/registration-form.css')
			
		link(rel='stylesheet' type='text/css' href='./styles/chatBro/chatBro.css')
			
		link(rel='stylesheet' type='text/css' href='./styles/title/title.css')
			
		link(rel='stylesheet' type='text/css' href='./styles/code/code.css')
		link(rel='stylesheet' type='text/css' href='./styles/code-form-for-title/code-form-for-title.css')
		link(rel='stylesheet' type='text/css' href='./styles/code-form/code-form.css')
		link(rel='stylesheet' type='text/css' href='./styles/code-form/__code-text/code-form__code-text.css')
			
		style(type='text/css').
			input.pattern {
				
			}
			@media (max-width: 850px) {
				#chatBroBlock {display: none}
				#logInBlock {
					width: 100%;
					heigth: 100%;
				}
				#logInForm {margin: 0px 5px;}
			}
			@media (min-width: 850px) {
				#logInBlock {
					width: 60%;
					height: 370px;
					float: left;
					margin: 0px;
				}
				#logInForm {margin: 0px 12%;}
			}
			
		title #{gettext('Sample program ChatBro')}
		
	body(class='body')
		div(class='header-bar')
			div(class='header-bar__basis')
				a(class='header-bar__logo' href='/')
					img(class='header-bar__logo__img' src='./images/favicon.png')
					p(class='header-bar__logo__title') ChatBro
				div(class='header-bar__link-list')
					a(class='header-bar__link-list__form')
						img(class='header-bar__link-list__form__img' src='./images/icons-guest.png')
						p(class='header-bar__link-list__form__link') #{gettext('Guest')}
						div(style='clear: both')
		
		div(class='block' style='box-shadow: 0 0; background-color: #e2e2e2')
			div(id='logInBlock' class='block')
				div(class='form')
					p(class='title') #{gettext('Single Sign-On')}
					form(id='logInForm' class='registration-form' action='/LogIn' method='POST')
						p(class='registration-form__title') #{gettext('Sign In')}
						input(class='registration-form__input-name' maxlength='15' oninvalid='this.setCustomValidity("0-9, a-z, A-Z")' oninput='this.setCustomValidity("")' placeholder=gettext('Login') name='full_name' required pattern='[0-9A-Za-z]+$')
						div(class='registration-form__input-checkbox')
							input(type='checkbox' name='ban_check' id='check1')
							label(for='check1' style='white-space: nowrap') #{gettext('Permission to ban users')} 
						div(class='registration-form__input-checkbox')
							input(type='checkbox' name='del_check' id='check2')
							label(for='check2' style='white-space: nowrap') #{gettext('Permission to delete messages')}
						input(class='registration-form__input-button' type='submit' value=gettext('Next'))
			div(id='chatBroBlock' class='block' style='width: 36%; float: right; margin: 0px; height: 370px' media)
				div(class='chatBro')
					div(id='chatbro' style='height: 370px')
			div(style='clear: both')
			
		div(class='block')
			div(class='code')
				p(class='title') #{gettext('How is this page implemented on node.js')}
				p(class='text') #{gettext('You are a guest now. Try type to the chat and see an offer go via the social network or go with a temporary name. If you logged into the account on chatbro.com, you will be displayed under your personale name.')}
				div(class='code-form-for-title')
					p(class='code-form-for-title__text-title') #{gettext('Code snippet')} (
						a(href='https://github.com/SviatoIa/ChatBroSSO/blob/54bfa5634ee9f128d41281d6e37c8dda9dc8609a/chatbro_test.js#L16-L40') chatbro_test.js
						| ):
					div(class='code-form')
						p(class='code-form__code-text')
							span(class='code-form__code-text__pink') const 
							| domain = 
							span(class='code-form__code-text__green') '#{domain}'
							| ;
							br
							span(class='code-form__code-text__comment') //#{gettext('The secret key specified in your account on chatbto.com')}
							br
							span(class='code-form__code-text__pink') const 
							| secretKey = 
							span(class='code-form__code-text__green') 'a06992ba-70b6-4fad-aaa9-588dc8b6890b'
							| ;
							br
							br
							span(class='code-form__code-text__comment') //#{gettext('Calculate the hash and pass parameters on the layout')}
							br
							span(class='code-form__code-text__red') app
							| .
							span(class='code-form__code-text__blue') get
							| (
							span(class='code-form__code-text__green') '/'
							| , function(req, res) {
							br
							span(class='code-form__code-text__pink code-form__code-text__tab') let
							|  hash = 
							span(class='code-form__code-text__red') crypto
							| .createHash(
							span(class='code-form__code-text__green') 'md5'
							| ).update(domain + key).digest(
							span(class='code-form__code-text__green') 'hex'
							| );
							br
							br
							span(class='code-form__code-text__tab code-form__code-text__red') res
							| .
							span(class='code-form__code-text__blue') render
							| (
							span(class='code-form__code-text__green') 'main.pug'
							| , {
							br
							span(class='code-form__code-text__double-tab')  domain,
							br
							span(class='code-form__code-text__double-tab') hash
							br
							span(class='code-form__code-text__tab') });
							br
							| });
				div(class='code-form-for-title')
					p(class='code-form-for-title__text-title') #{gettext('Code snippet')} (
						a(href='https://github.com/SviatoIa/ChatBroSSO/blob/54bfa5634ee9f128d41281d6e37c8dda9dc8609a/views/main.pug#L30-L33') main.pug
						| ):
					div(class='code-form')
						p(class='code-form__code-text')
							span(class='code-form__code-text__blue') ChatbroLoader
							| ({encodedChatId: 
							span(class='code-form__code-text__green') '9czk'
							| , 
							span(class='code-form__code-text__comment') //#{gettext('The unique chat identificator')}
							br
							span(class='code-form__code-text__tab') siteDomain: 
							span(class='code-form__code-text__green') '\#{domain}'
							| ,
							br
							span(class='code-form__code-text__tab') signature: 
							span(class='code-form__code-text__green') '\#{hash}'
							| });
