doctype html
html
  head
    
    meta(name='viewport' content='width=device-width, initial-scale=0.8')
    
    link(rel="shortcut icon" href="/images/favicon_small.png" type="image/png")
    
    link(rel='stylesheet' type='text/css' href='./styles/body/body.css')
		
    link(rel='stylesheet' type='text/css' href='./styles/text/text.css')
    
    link(rel='stylesheet' type='text/css' href='./styles/header-bar/header-bar.css')
    link(rel='stylesheet' type='text/css' href='./styles/header-bar/__logo/header-bar__logo.css')
    link(rel='stylesheet' type='text/css' href='./styles/header-bar/__link-list/header-bar__link-list.css')
      
    link(rel='stylesheet' type='text/css' href='./styles/block/block.css')
    link(rel='stylesheet' type='text/css' href='./styles/form/form.css')
      
    link(rel='stylesheet' type='text/css' href='./styles/profile-form/profile-form.css')
      
    title #{gettext('Profile')}
      
  body
    div(class='header-bar')
      div(class='header-bar__basis')
        a(class='header-bar__logo' href='/logbox')
          img(class='header-bar__logo__img' src='./images/favicon.png')
          p(class='header-bar__logo__title') ChatBro
        div(class='header-bar__link-list')
          div(style='float: left; height: 4em')
            a(class='header-bar__link-list__form' href='/profile')
              img(class='header-bar__link-list__form__img' src='./images/cat_avatar.jpeg')
              p(class='header-bar__link-list__form__link') #{userName}
              div(style='clear: both')
            div(class='header-bar__link-list__form__separator')
            div(style='clear: both')
          a(class='header-bar__link-list__form' style='float: right' href='/')
            p(class='header-bar__link-list__form__link' style='padding: 0px') #{gettext('Exit')}
          div(style='clear: both')
          
    div(class='block')
      div(class='form')
        div(class='profile-form__avatar')
          img(class='profile-form__avatar__img' src='./images/cat_avatar.jpeg')
        div(class='profile-form__info')
          p(class='text') id: #{userId}
          p(class='text') #{gettext('Name')}: #{userName}
          p(class='text') #{gettext('Permissions')}: #{permStr}
        div(style='clear: both')
          
